<!-- <h3 class="title">Directive</h3> -->
<!-- <p *ngIf="true">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati dolorem ?</p>
<p *ngIf="false">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, quia?</p>
<div>*ngIf="books1; then bookAvailable else noBookAvailable">
  Books Variable Exist</div>
  

<ng-template #bookAvailable>
<div *ngFor="let obj of books1">
<div [ngSwitch]="obj.bookstatus">
  <div *ngSwitchCase="'Notavailable'">
  {{ obj.bookname }}
  </div>
  <div *ngSwitchDefault>
    default- {{ obj.bookname }}
  </div>

</div>
</div>
</ng-template>
<ng-template #noBookAvailable>
   No Books
</ng-template> --> -->