<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add input which updates property</li>
        <li>output the username Property via string interpolation</li>
        <li>add button which only be clicked</li>
        <li>upon clicking the username should be reset to an empty string</li>
      </ol>
      <hr>
      <label >UserName</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{username}}</p>
      <button class="btn btn-primary" [disabled]="username===''"
      (click)="username=''">Add Server</button>
    </div>
  </div>
</div>

 -->

 <!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>add a button on 'display details'</li>
        <li>add a para with any content</li>
        <li>toggle the paragraph</li>
        <li>log all buttons in an array</li>
        <li>ngStyle,ngClass</li>
      </ol>
      <hr> -->
      <!-- <button class="btn btn-primary"(click)="showSecret=!showSecret">Display Details</button> -->
      <!-- <button class="btn btn-primary"(click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showSecret">secret password= tuna</p>
      <div 
      *ngFor="let logItem of log; let i = index"
  >{{logItem}}</div>
    </div> -->
    <!-- {{ log | json}} -->
  <!-- </div>
 </div> -->
<h3 class="title">App Library</h3>
<div class="row">
<div class="col-sm-2">
  <app-left></app-left>
</div>
<div class="col-sm-5">
  <app-middle></app-middle>
</div>
<div class="col-sm-5">
  <app-right></app-right>
</div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="active" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="" href="">About Me</a>
        </li>
        <li class="nav-item">
          <a class="" href="">Contact Me</a>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-about-me></app-about-me>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-contact-me></app-contact-me>
    </div>
  </div>
</div>




 
  -->
